In [53]:
import pandas as pd
from sqlalchemy import create_engine
#extras
import os

In [54]:
# tried to merge... did not work.

#a = pd.read_csv("Resources/ufo.complete.csv")
#b = pd.read_csv("Resources/bfro_reports_geocoded.csv")
#b = b.dropna(axis=1)
#merged = a.merge(b, on='state')
#merged.to_csv("bfufo.csv", index=False)

In [55]:
# Estract info from CSV file.

csv_file = "Resources/bfro_reports_geocoded.csv"
bf_data_df = pd.read_csv(csv_file)
bf_data_df.head(1)

,observed,location_details,county,state,season,title,latitude,longitude,date,number,...,moon_phase,precip_intensity,precip_probability,precip_type,pressure,summary,uv_index,visibility,wind_bearing,wind_speed
0,Ed L. was salmon fishing with a companion in P...,East side of Prince William Sound,Valdez-Chitina-Whittier County,Alaska,Fall,NaN,NaN,NaN,NaN,1261.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
#tried to get second csv file.
#csv_file = "Resources/ufo.complete.csv"
#bf_data_df = pd.read_csv(csv_file)
#bf_data_df.head(1)

In [61]:
#clean up data to colums needed.
new_UFOBF_data_df = bf_data_df[['state', 'observed', 'date', 'latitude', 'longitude', 'location_details']].copy()
new_UFOBF_data_df.head(1)

,state,observed,date,latitude,longitude,location_details
0,Alaska,Ed L. was salmon fishing with a companion in P...,NaN,NaN,NaN,East side of Prince William Sound

In [52]:
#Connect to local database

# <username>:<password>:<pg admin>@local host>:<5432/db_name>""
#rds_connection_string = "<insert user name>:<insert password>@localhost:5432/ufo_bf_db"
#engine = create_engine(f'postgresql://{rds_connection_string}')